<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<% if @user.ratings.empty? %>
    <p>No ratings yet!</p>
<% else %>
    <p>Has made <%=pluralize(@user.ratings.count, "rating")%> ratings, average <%= @user.average_rating %></p>
<% end %>

<% if @user.memberships.count > 0 %>
<p>member of </p>

<ul>
  <% @user.memberships.each do |membu| %>
      <li><%=link_to membu.beer_club.name, membu.beer_club%></li>
  <% end %>
</ul>
<% end %>

<h2>ratings</h2>
<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>

<h2>Favourite style</h2>
<% if @user.ratings.empty? %>
    <p>No favorite style because has no ratings done yet.</p>
<% else %>
    <%= link_to @user.favorite_style.name, @user.favorite_style %>
<% end %>

<h2>Favourite brewery</h2>
<% if @user.ratings.empty? %>
    <p>No favorite brewery because has no ratings done yet.</p>
<% else %>
    <p><%= link_to @user.favorite_brewery.name, @user.favorite_brewery %></p>
<% end %>

<h2>Favourite beer</h2>
<% if @user.ratings.empty? %>
    <p>No favorite beer because has no ratings done yet.</p>
<% else %>
    <p><%= link_to @user.favorite_beer.name, @user.favorite_beer %></p>
<% end %>

<% if @user == current_user %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_user_path(@user) %>
    <% end %>|
<%= link_to 'Back', users_path %>
