<p id="notice"><%= notice %></p>

<h1><%=@style.name%></h1>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<h2>beers</h2>
<ul class="list-group">
  <% @style.beers.each do |beer| %>
      <li class="list-group-item">
        <%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %>
      </li>
  <% end %>
</ul>

<%= edit_and_destroy_buttons(@style) %>
